* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div ul li, a{
    position: relative;
    bottom: 34px;
    padding-top: 15px;
    margin-left: 25px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

/* removed code: is wasnt't contributing anything to the code.
.header div ul {
    list-style-type: none;
} 
*/

/*merged attributes into ".header div ul li, a"
.header div ul li  {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;

}
*/

/* the following code (a & .a) is not needed anymore since it was grouped above with ".header div ul li" above.
a {
    color: #ffffff;
    text-decoration: none;

.a {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;

}
*/

/*font size for each paragraph was grouped with the content selector below
p {
    font-size: 16px;
}
*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*changed class selector to "benefit" to clean up css code.*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* removed following code because it was simplified into one class.
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */

/*changed following class to "benefit h3" to simplify code*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*removed following code due to the class selector change
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/*changed class selector to "benefit img" to group attributes of images*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.topic /*selector changed*/{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*changed the class in html to reflect the selector above to condense all the code blocked out below.
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

.topic img {
    max-height: 200px;
}

/*changed the class in html to reflect the selector above to condense all the code blocked out below.
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}*/

.topic h2{
    margin-bottom: 20px;
    font-size: 35px;
}
/*changed the class in html to reflect the selector above to condense all the code blocked out below.
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}*/

.footer {
    font-size: 20px;
    padding: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* removed the following code because there is no selector in html that reflects this class selector.
.footer h2 {
    font-size: 20px;
}
*/
